{% extends "base.html" %}

{% block content %}
<dialog   class="mdl-dialog" id="dialog-res">
<!--    <button type="button" onclick="this.closest('dialog').classList.add('hidden');this.closest('dialog').close();">-->
<!--        Закрыть-->
<!--    </button>-->
</dialog>
<main>
    <div class="wraper-top" style="
    display: flex;
    justify-content: space-around;
    border-bottom: 6px solid #999999;
">
        <h2>Сформировать данные БЦ для СУРР </h2>
        <span class="types_title">БД КТСУР:</span>
        <div class="types_bd" style="
">
            <div class="bd-elem">
                <input type="radio" name="type_bd" value="185.192.247.60:8910" id="bd-real">
                <label for="bd-real">Основная</label>
            </div>
            <div class="bd-elem">
                <input type="radio" name="type_bd" value="185.192.247.60:8910" id="bd-test" checked="">
                <label for="bd-test">Стендовая</label>
            </div>


        </div>
    </div>
    <div class="content">

        <div class="input_parameters_TLE">
            <div class="bc">Эмулятор БЦ</div>
            <div id="container-content">
                <div class="row_TLE">


                    <br>
                    <div class="div-abonent">Формирование данных орбит КА</div>
                    <div class="input-file-text">Наименование файла:</div>
                    <br>
                    <div class="column1_TLE">
                        <div style="width: 225px"></div>
                        <button id="download-bc-surr" class="bc-btns">Выбор файла БЦ по умолчанию</button>
                        <label class="input-file_TLE">



                            <input id="get_TLE" accept=".txt,.tmp" type="file">
                            <span class="btn-load input-file-btn" class="bc-btns">Выбор файла БЦ</span>

                        </label>




                    </div>



                </div>
                <div class="group">
                    <div class="header3">Группировка КА:</div>
                    <div class="blok" >
                        <input type="radio" name="type_group" value="1" id="real-group" checked="">
                        <label for="real-group">Существующая</label>
                        <label for="group_TLE">

                        </label>
                        <select id="groups_TLE" name="groups_TLE">
<!--                            <option>Гонец</option>-->
<!--                            <option>Старлинк</option>-->
                        </select>
                    </div>
                    <div class="blok">
                        <input type="radio" name="type_group" value="2" id="test-group">
                        <label for="test-group">Новая</label>

                        <label for="group_TLE">
                        </label>
                        <input id="group_TLE" name="group_TLE" type="text">
                    </div>


                </div>
                <div class="organiztions">
                    <label for="organiztion">
                        Организация:
                    </label>
                    <select id="organiztion" name="organiztion" >

                    </select>
                </div>
                <div class="select_Country">
                    <label for="country">
                        Страна:
                    </label>
                    <select id="country" name="country" >
<!--                        <option value="Россия">Россия</option>-->
<!--                        <option value="Мир">Мир</option>-->
                    </select>
                </div>
                <div class="select_Type">
                    <label for="type">
                        Назначение:
                    </label>
                    <select id="type" name="type">
<!--                        <option value="2">2</option>-->
                    </select>
                </div>
                <div class="name-document"></div>
                <span id="bc-file">Содержание файла БЦ:</span>
                <div id="BC-document"></div>
                <br>
                <div id="bc-kepler" > <div id="bc-kepler-data" class="header-log">Расшифровка файла БЦ:</div>

                    <div id="convert-kepler"></div>
                </div>
                <br>
                <div id="kepler-data" class="header-log"> <div id="prom-data">Промежуточные баллистические данные :</div>
                    <div id="data-kepler"></div>
                </div>
                <div class="btn2">


                    <button id="view-btn-kepler" class="bc-btns">Пересчет в TLE</button>
                    <button id="download-tle-surr" class="bc-btns">Выбор файла TLE по умолчанию</button>
                    <label class="input-file_TLEs">

                        <input id="get_TLEs" accept=".txt,.tmp" type="file">
                        <span class="btn-load input-file-btn bc-btns">Выбор файла TLE</span>

                    </label>

                </div>
                <div class="tle-file">Файл TLE:</div>
                <div id="data-document"></div>
                <!--            <div class="column2_TLE">-->

                <!--            </div>-->
            </div>


        </div>
        <div class="information_request">
            <span class="bc">Шлюз взаимодействия БЦ-СУРР</span>
            <div id="comtainer-logs"></div>
        </div>

    </div>
    <div class="btns-clear-bc">
        <div id="clear-bc">
            <input type="checkbox"  id="clear" checked>
            <label for="clear">Перерасчет орбит КА</label>


        </div>

        <button id="task-btn-TLE" >Отправить данные на СУРР</button>
    </div>

</main>




    
{% endblock %}
